.panel-body {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $panel-body-padding;
    height: inherit;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .about-img {
    flex: 0 0 auto;
    .headshot {
      height: 100px;
      width: 100px;
      border: 3px solid $brand-warning;
      border-radius: 50px;
      margin-bottom: 15px;
    }
  }
  .about-text {
    flex: 1 0 auto;
  }
  .about-resume {
    flex: 1 0 auto;
    margin-bottom: 10px;
  }
}
