.panel-body {
  .about {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: $panel-body-padding;
    height: inherit;
    max-height: 62vh;
    overflow-y: auto;
    .about-img {
      order: 0;
      margin-bottom: 15px;
      .headshot {
        height: 100px;
        width: 100px;
        border: 3px solid $brand-warning;
        border-radius: 50px;
      }
    }
    .about-text {
      order: 1;
    }
    .about-resume {
      order:1;
    }

  }
}
