#ember471 {
  height: inherit;
  // swiper container
  .swiper-container {
    margin-top: 2px;
  }

  // screenshot swiper
  .screenshot-swiper {
    // For small phones to tables 320 - 767
    @media (min-width: $screen-small-phone)  and (max-width: $screen-xs-max) {
      height: 50%;
    }
    height: 60%;
    padding: 5px 3px 5px 3px;
    text-align: center;
  }

  // slide styles
  .swiper-slide {
    display: inline-block;
    height: inherit;
    width: auto;
  }

  // mobile screenshots
  .mobile-img {
    // For small phones to tables 320 - 767
    @media (min-width: $screen-small-phone)  and (max-width: $screen-xs-max) {
      height: auto;
      width: 30%;
    }
    height: inherit;
    width: auto;
    margin: 0px 3px;
  }

  #source-btn {
    margin: 10px;
  }
}
