#ember471 {
  height: inherit;
  // swiper container
  .swiper-container {
    margin-top: 2px;
  }

  // screenshot swiper
  .screenshot-swiper {
    padding: 5px 3px 5px 3px;
    text-align: center;
    // For screens 320 - 359
    @media (min-width: $screen-small-phone) and (max-width: $screen-xxs-max) {
      height: 50%;
      width: auto;
    }
    // For screens 360 - 434
    @media (min-width: $screen-phone) and (max-width: $screen-phone-max) {
      height: 50%;
      width: auto;
    }
    // For screens 435 - 767
    @media (min-width: $screen-large-phone) and (max-width: $screen-sm-max) {
      height: 50%;
      width: auto;
    }
    // For screens 768 - 991
    @media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
      height: 55%;
      width: auto;
    }
    // For screens > 992
    @media (min-width: $screen-desktop) {
      height: 60%;
      width: auto;
    }
  }

  // slide styles
  .swiper-slide {
    display: inline-block;
    height: inherit;
    width: auto;
  }

  // mobile screenshots
  .mobile-img {
    margin: 0px 3px;
    width: 30%;
    // For small/average/large phones 320 - 767
    @media (min-width: $screen-small-phone) and (max-width: $screen-xs-max) {
      width: 30%;
      height: auto;
    }
    // For tablets 768 - 991
    @media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
      width: 32%;
      height: auto;
    }
    // For screens > 992
    @media (min-width: $screen-desktop) {
      height: inherit;
      width: auto;
    }
  }

  // web screenshots
  .web-img {
    margin: 0px 0px;
    height: inherit;
    width: auto;
  }

  @media (max-width: $screen-xxs-max) {
    h5, .description {
      margin-top: 0px;
      margin-bottom: 2px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .description {
      line-height: 1.5em;
    }
  }

  .btn-container {
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    .google-btn {
      margin-top: 0px;
      order: 0;
      height: 55px;
      margin-right: 15px;
    }

    // demo button
    .btn-success {
      order: 0;
      margin-right: 5px;
      padding: 4px 20px;
    }

    // source button
    .btn-info {
      order: 1;
      margin-left: 5px;
      padding: 4px 20px;
    }
  }

}
