#ember471 {
  height: inherit;
  // swiper container
  .swiper-container {
    margin-top: 2px;
  }

  // screenshot swiper
  .screenshot-swiper {
    padding: 5px 3px 5px 3px;
    text-align: center;
    // For screens > 992
    @media (min-width: $screen-desktop) {
      height: 60%
    }
  }

  // slide styles
  .swiper-slide {
    display: inline-block;
    height: inherit;
    width: auto;
  }

  // mobile screenshots
  .mobile-img {
    // For small phones 320 - 767
    @media (min-width: $screen-small-phone) and (max-width: $screen-xs-max) {
      height: auto;
      width: 30%;
    }
    // For tablets 768 - 991
    @media (min-width: $screen-tablet) and (max-width: $screen-sm-max) {
      height: auto;
      width: 32%;
    }
    // For screens > 992
    @media (min-width: $screen-desktop) {
      height: inherit;
      width: auto;
    }
    margin: 0px 3px;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    .google-btn {
      order: 0;
      height: 55px;
      margin-right: 15px;
    }

    // demo button
    .btn-success {
      order: 0;
      margin-right: 5px;
      padding: 4px 20px;
    }

    // source button
    .btn-info {
      order: 1;
      margin-left: 5px;
      padding: 4px 20px;
    }
  }

}
