<div class="panel-body">
  <div class="about">
    <div class="about-img">
      <img src="assets/img/headshot.jpg" alt="A headshot of Midori Bowen" class="headshot" />
    </div>
    <div class="about-text">
      <p>
        Hello! My name is Midori Bowen and I live in Portland, OR. I am an Android and web developer trained through <a href="http://www.epicodus.com/">Epicodus</a>, where I studied Java, JavaScript, and Android development. I get excited about IoT, anything Android, and UX design.
      </p>
      <p>
        I got my first taste of programming through tinkering with CSS templates, but I've always been preoccupied by how things work and fit together. This curiosity has manifested itself in sewing, art, amateur carpentry, screen-printing, and now programming. In my spare time, I enjoy making and building physical things, cooking soups and sauces, and getting outside.
      </p>
      <p>
        My career background is in community organizing and education. It remains important to me to engage with my community, regardless of where I live. In Portland, I'm involved with <a href="http://www.apano.org/">APANO</a> and am currently working on a project to build a mobile app for people in our community experiencing domestic & intimate partner violence.
      </p>
    </div>
    <div class="about-resume">
      <a href="/assets/resume.pdf" class="btn btn-primary">view resume</a>
    </div>
  </div>
</div>
