<div class="panel-body">
  <div class="row about">
    <div class="col-xs-6 col-xs-offset-3">
      <img src="assets/img/headshot.jpg" alt="A headshot of Midori Bowen" class="about-img" />
    </div>
    <div class="col-xs-10 col-xs-offset-1 about-text">
      <p>
        Hello! My name is Midori Bowen and I live in Portland, OR. I am an Android and web developer trained through <a href="http://www.epicodus.com/">Epicodus</a>, where I studied Java, JavaScript, and Android development. I get excited about IoT, anything Android, and UX design.
      </p>
      <p>
        I got my first taste of programming through tinkering with CSS templates, but I've always had a curiosity how things work and fit together. This curiosity has manifested itself in sewing, art, amateur carpentry, and more recently programming. In my spare time, I enjoy making and building physical things, cooking soups and sauces, and getting outside.
      </p>
    </div>
  </div>
</div>
